/* components/BurgerMenu.module.css */

.menuContainer {
    position: relative;
  }
  
  .burgerIcon {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
  }

  .burgerIcon:hover{
    opacity: 0.9
  }
  
  .burgerIcon .bar {
    width: 20px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.3;
    margin: 4px 0;
    transition: all 0.3s ease;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: #333;
    padding: 50px 20px;
    transition: left 0.4s ease;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu ul li {
    margin: 20px 0;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .menuContainer:hover .menu {
    left: 0;
  }
  